<?xml version="1.0" encoding="utf-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee">

    <!-- Begin Listeners -->

    <listener>
        <listener-class>com.yoloo.backend.FirebaseHelper</listener-class>
    </listener>

    <listener>
        <listener-class>com.yoloo.backend.OfyService</listener-class>
    </listener>

    <!-- End Listeners -->

    <!-- Begin Servlets -->

    <servlet>
        <servlet-name>SystemServiceServlet</servlet-name>
        <servlet-class>com.google.api.server.spi.SystemServiceServlet</servlet-class>
        <init-param>
            <param-name>services</param-name>
            <param-value>
                com.yoloo.backend.question.QuestionEndpoint,
                com.yoloo.backend.comment.CommentEndpoint,
                com.yoloo.backend.follow.FollowEndpoint,
                com.yoloo.backend.vote.VoteEndpoint,
                com.yoloo.backend.bookmark.BookmarkEndpoint,
                com.yoloo.backend.tag.TagEndpoint
            </param-value>
        </init-param>
        <init-param>
            <param-name>restricted</param-name>
            <param-value>false</param-value>
        </init-param>
    </servlet>

    <servlet-mapping>
        <servlet-name>SystemServiceServlet</servlet-name>
        <url-pattern>/_ah/spi/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>CategoryRankUpdateServlet</servlet-name>
        <servlet-class>com.yoloo.backend.category.CategoryRankUpdateServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>CategoryRankUpdateServlet</servlet-name>
        <url-pattern>/tasks/update/category/rank</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>TagCounterUpdateServlet</servlet-name>
        <servlet-class>com.yoloo.backend.tag.TagCounterUpdateServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>TagCounterUpdateServlet</servlet-name>
        <url-pattern>/tasks/update/tag/counter</url-pattern>
    </servlet-mapping>

    <!-- End Servlets -->

    <!-- Begin Filters -->

    <filter>
        <filter-name>ObjectifyFilter</filter-name>
        <filter-class>com.googlecode.objectify.ObjectifyFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>ObjectifyFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <filter>
        <filter-name>appstats</filter-name>
        <filter-class>com.google.appengine.tools.appstats.AppstatsFilter</filter-class>
        <init-param>
            <param-name>calculateRpcCosts</param-name>
            <param-value>true</param-value>
        </init-param>
    </filter>

    <filter-mapping>
        <filter-name>appstats</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <!-- End Filters -->

    <security-constraint>
        <web-resource-collection>
            <web-resource-name>appstats</web-resource-name>
            <url-pattern>/appstats/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>admin</role-name>
        </auth-constraint>
    </security-constraint>

    <security-constraint>
        <web-resource-collection>
            <web-resource-name>CategoryRankUpdateServlet</web-resource-name>
            <url-pattern>/tasks/update/category/rank</url-pattern>
        </web-resource-collection>
        <web-resource-collection>
            <web-resource-name>TagCounterUpdateServlet</web-resource-name>
            <url-pattern>/tasks/update/tag/counter</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>admin</role-name>
        </auth-constraint>
    </security-constraint>

    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>

</web-app>